# samples folder of knowledge
samples
.vscode
.github
.venv/
*.log
stylesheet-test.css
stylesheet-backup.css
locale/

# Object files
extras/*.o
extras/*.obj
extras/*~
extras/.DS_Store

# Review logs and files for publishing to Gnome Shell extensions web
REVIEW_GUIDELINES_NOTES.md
COMPLIANCE_REVIEW_REPORT.md

