/* fix oversized buttons */

button.pill {
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 12px;
}

/* Nautilus list view fix to reduce padding */
.nautilus-window .nautilus-list-view listview.view > row.activatable > cell > widget#NautilusViewCell {
  padding: 3px 9px;
}

/* Filepicker */
listview.view > row.activatable > cell {
	padding: 0px 9px;
}

/* Hide tilebar and buttons when maximized */

/* Completely hide the titlebar when maximized */
.maximized .titlebar {
  opacity: 0;
  margin-top: -100px;
  min-height: 0;
  min-width: 0;
}

/* Hide only the window control buttons inside headerbar when maximized */
.maximized headerbar windowcontrols {
  min-width: 0;
  min-height: 0;
  opacity: 0;
  margin-left: -100px;
}

/* ############ TEST ZONE ################ */

