/*(((((((((( Other fixes  ))))))))))))*/

/* Whitesur button padding fix to match with GTK4 */

headerbar .titlebutton {
  padding: 1px;
}

headerbar box.horizontal.left {
  padding-left: 8px;
}

/* Geary fixes*/

.geary-main-layout treeview.sidebar
{
	padding: 4px;
}
.geary-main-layout.vertical .titlebar.windowhandle {
 background: transparent;
	border: none
}

components-conversation-actions button.image-button, button.thin-button {
    background-image: none;
	border: none;
    background: transparent;
}

button.image-button:hover, button.thin-button:hover, box.horizontal.linked.raised > button:hover {
    background-color: #e3e3e3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
button.image-button:active, button.thin-button:active, box.horizontal.linked.raised > button:active {
    background-color: #a3a3a3;
	border: none;
}

box.horizontal.linked.raised > button {
    background-image: none;
	border: none;
    background: transparent;
}

/*
.view:selected {
	background-color: #4594fd;
	color: white;
}

row:selected.activatable.conversation-list  {
    background-color: #4594fd;
    color: rgb(255,255,255);
}
*/
/*
row:hover.activatable.conversation-list  {
    border-radius: 12px;
}
*/
/*
row:selected label {
    color: rgb(255,255,255);
}

row:selected:not(:hover) image {
    color: #4594fd;
}

row:selected:hover image {
    color: rgb(255,255,255);
}

label.tertiary.preview {
    font-size: 10pt;
}

window > decoration {
	border-radius: 12px;
}
*/

/*  ######################   TEST   ############################*/

/* Hide only the window control buttons when maximized */
.maximized headerbar .titlebutton,
.maximized headerbar > box.horizontal.left,
.maximized headerbar.default-decoration.titlebar {
  opacity: 0;
  margin-left: -100px;
  margin-top: -100px;
}

