/*(((((((((( Custom theme GTK4 ))))))))))*/

/*(((((((((( headerbar and titlebar ))))))))))*/

/*
headerbar
{ 
                  padding: 10px;
              padding-top: 4px;
           padding-bottom: 4px;
   border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
window.titlebar
{
                 padding: 16px;
             padding-top: 4px;
          padding-bottom: 4px;
              min-height: 18px;
  border-top-left-radius: 12px;
 border-top-right-radius: 12px;
}
*/

/*(((((((((( Titlebuttons ))))))))))*/

/*
.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

window button.titlebutton
{
  padding-left: 3px;
}

button.titlebutton
{
  padding: 0px;
  min-width: 0px;
}

headerbar {
  border-spacing: 2px;
}


.titlebutton {
	padding: 1px;
}


headerbar button:not(.suggested-action):not(.destructive-action) {
	min-height: 16px;
	min-width: 16px;
	padding: 0px;
}

headerbar {
  border-spacing: 8px;
  padding: 0px 6px 0px 9px;
}

headerbar button:not(.suggested-action):not(.destructive-action) > image {
  border-radius: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background-size: 17px;
}
*/

headerbar button.close, headerbar button.maximize, headerbar button.minimize {
  min-width: 16px;
  min-height: 16px;
  margin: 0px;
  padding: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

headerbar button.close:backdrop, headerbar button.maximize:backdrop, headerbar button.minimize:backdrop {
  opacity: 0.75;
}

/*
headerbar box.horizontal.left button {
    padding: 0px;
    min-width: 16px;
    min-height: 16px;
}
*/
/*
headerbar box {
	padding-left: 6px;
}
*/
headerbar button.close, headerbar button.close:hover, headerbar button.close:focus, headerbar button.close:active, headerbar button.close:backdrop, 
headerbar button.maximize, headerbar button.maximize:hover, headerbar button.maximize:focus, headerbar button.maximize:active, headerbar button.maximize:backdrop, 
headerbar button.minimize, headerbar button.minimize:hover, headerbar button.minimize:focus, headerbar button.minimize:active, headerbar button.minimize:backdrop 
{
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: transparent;
}

headerbar button.titlebutton.close,
.titlebar button.titlebutton.close {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-close.svg"), url("titlebuttons-alt/button-close@2.svg"));
}

headerbar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.close:backdrop {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-close-backdrop.svg"), url("titlebuttons-alt/button-close-backdrop@2.svg"));
}

headerbar button.titlebutton.close:backdrop:hover,
.titlebar button.titlebutton.close:backdrop:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-close-backdrop-hover.svg"), url("titlebuttons-alt/button-close-backdrop-hover@2.svg"));
}

headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-close-hover.svg"), url("titlebuttons-alt/button-close-hover@2.svg"));
}

headerbar button.titlebutton.close:active,
.titlebar button.titlebutton.close:active {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-close-active.svg"), url("titlebuttons-alt/button-close-active@2.svg"));
}

headerbar button.titlebutton.maximize,
.titlebar button.titlebutton.maximize {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-maximize.svg"), url("titlebuttons-alt/button-maximize@2.svg"));
}

headerbar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.maximize:backdrop {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-maximize-backdrop.svg"), url("titlebuttons-alt/button-maximize-backdrop@2.svg"));
}

headerbar button.titlebutton.maximize:backdrop:hover,
.titlebar button.titlebutton.maximize:backdrop:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-maximize-backdrop-hover.svg"), url("titlebuttons-alt/button-maximize-backdrop-hover@2.svg"));
}

headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-maximize-hover.svg"), url("titlebuttons-alt/button-maximize-hover@2.svg"));
}

headerbar button.titlebutton.maximize:active,
.titlebar button.titlebutton.maximize:active {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-maximize-active.svg"), url("titlebuttons-alt/button-maximize-active@2.svg"));
}

headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.minimize {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-minimize.svg"), url("titlebuttons-alt/button-minimize@2.svg"));
}

headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-minimize-backdrop.svg"), url("titlebuttons-alt/button-minimize-backdrop@2.svg"));
}

headerbar button.titlebutton.minimize:backdrop:hover,
.titlebar button.titlebutton.minimize:backdrop:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-minimize-backdrop-hover.svg"), url("titlebuttons-alt/button-minimize-backdrop-hover@2.svg"));
}

headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-minimize-hover.svg"), url("titlebuttons-alt/button-minimize-hover@2.svg"));
}

headerbar button.titlebutton.minimize:active,
.titlebar button.titlebutton.minimize:active {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-minimize-active.svg"), url("titlebuttons-alt/button-minimize-active@2.svg"));
}

headerbar button.titlebutton.restore,
.titlebar button.titlebutton.restore {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-restore.svg"), url("titlebuttons-alt/button-restore@2.svg"));
}

headerbar button.titlebutton.restore:backdrop,
.titlebar button.titlebutton.restore:backdrop {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-restore-backdrop.svg"), url("titlebuttons-alt/button-restore-backdrop@2.svg"));
}

headerbar button.titlebutton.restore:backdrop:hover,
.titlebar button.titlebutton.restore:backdrop:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-restore-backdrop-hover.svg"), url("titlebuttons-alt/button-restore-backdrop-hover@2.svg"));
}

headerbar button.titlebutton.restore:hover,
.titlebar button.titlebutton.restore:hover {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-restore-hover.svg"), url("titlebuttons-alt/button-restore-hover@2.svg"));
}

headerbar button.titlebutton.restore:active,
.titlebar button.titlebutton.restore:active {
  background-image: -gtk-scaled(url("titlebuttons-alt/button-restore-active.svg"), url("titlebuttons-alt/button-restore-active@2.svg"));
}
